---
interface Props {
  class?: string
  title: string
  items: { prep_title?: string; text: string }[]
  listType: "ol" | "ul"
}

const { title, items, listType } = Astro.props
---

<section class={Astro.props.class}>
  <h2>{title}</h2>
  
    {listType === "ol" ? (
      <ol>
      {items.map((item) => 
        <li>
          <span>{item.prep_title}</span>
          <span>{item.text}</span>
        </li>
      )}
        
      </ol>
        ) : (
          <ul>
            {items.map((item) => 
              <li>
                <span>{item.prep_title}</span>
                <span>{item.text}</span>
              </li>
            )}
          </ul>
          
        )
      }
  </ul>
</section>